a{ /* links */
	text-decoration: none;
	color: #505050;
}

h1{ /*title*/
	font-family: Arial, Helvetica;
	font-size: 3em;
	margin: 0 auto;
	color: rgb(80,80,80);
}

h2{ /*subtitle*/
	font-family: Arial, Helvetica;
	font-size: 1.5em;
	color: rgb(80,80,80);
	margin: 0;
}

h3{ /*links*/
	font-family: Arial;
	font-size: 2em;
	margin: auto;
	color: rgb(80,80,80);
	display:inline;
}

h4, form { /*text*/
	font-family: Arial;
	font-size:1em;
	margin: 0 auto;
	color: rgb(80,80,80);
}

p{ /* Paragraph */
	font-family: Arial;
	font-size: 2em;
	margin: 0 auto;
}

body { /* body */
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

table {
	width: 100%;
	height: 100%;
	padding: 4px;
	margin: 0px;
	border: 0px;
}

th {
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	color: #EEEEEE;
	background: #808080;
}

td {
	width: auto;
	text-align: left;
}

form { display: inline; }

.canvas{
	width: 100%;
	height: 100%;
}

.searchBox {
	float: left;
	width:auto;
}

.header{
	height: auto;
	clear: both;
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center; 
	vertical-align: middle;
}

.scan {
	float: left;
	
	width: calc(42% - 7px);
	height: 120px;
	
	border: 2px solid #808080;
	border-bottom: 5px solid #808080;
	border-right: 5px solid #808080;
	
	display: inline;
	text-align: center;
	
	margin-bottom: 4%;
	margin-left: 4%;
	
	overflow: hidden;
	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

.scan:hover {
	background-color: #CCCCCC;
}

.scan:active , .scan:focus {
	border: 2px solid #808080;
	margin-top: 3px;
	margin-left: calc(4% + 3px);
}

.navtab {
	height: auto;
	width: 100%;
	float: left;
	position: relative;
	clear:both;
	text-align: center;
	background-color: #FFC266;
	border-bottom: 2px solid #808080;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

.navbar{
	display: inline-block;
	width: 140px;
	height: 40px;
	
	position:relative;
	z-index:1;
	
	margin-top:216px;
	margin-right: 30px;
	margin-bottom: 0px;
	
	background-color: rgb(249,204,157);
	text-align: center;
	display:table-cell; 
	vertical-align: middle;
	float: right;
	
	border-top:2px solid #808080;
	border-right:2px solid #808080;
	border-left:2px solid #808080;
}

.navbar:hover, .navbar:focus {
	margin-top: 206px;
	height: 60;
	
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
	box-shadow: 0 0 30px 5px #999;
}
